<div class="main-area">
  <div class="container">
    <div class="row">
      <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
        <h2>CodeLovew〜コードラビュー〜</h2><br>
        <p>エンジニアリング学習における教材レビューアプリです。<br><br>
        書籍だったり、ウェブサイトだったり、はたまたyoutubeだったり、<br>
        何か学習で詰まった時に、あなたが助けられた教材をシェアしてください。<br><br>
        初学者にはこのアプリが教科書のような存在になってくれたら。<br><br>
        現役エンジニアの方には、実務のお供に使っているツールを紹介していただくことで、<br>
        就職したばかりの駆け出しエンジニアの方の力になることでしょう。</p>
      </div>
      <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
        <h3>[How to use CodeLovew]</h3><br>
        <p>LoveなReviewを見つけて、「Lovew」をストックして行きましょう！<br><br>
        <span class="yellow">hint</span>: 登録がまだの方は、Sign Upボタンを押して登録お願いします！<br>
        <span class="yellow">hint</span>: お試ししたい方は、Guest Log Inボタンからログインしてください！<br>
        <span class="yellow">hint</span>: 登録済みの方は、Log Inを押して、ログインしてください！<br>
        <span class="yellow">hint</span>: レビュー投稿は、Reviewからできます！<br>
        <span class="yellow">hint</span>: ALL Reviewsはレビュー一覧です。<br>
        <span class="yellow">hint</span>: マイページもあります。登録情報の変更とアカウント削除ができ、<br>
        「Lovew!」（お気に入り）したレビュー一覧と、自分の投稿一覧が見られます！</p>
      </div>
    </div>
  </div>
</div>