<div class="container">
  <article>
    <div class="contents">
      <h1 class="title">CodeLovew〜コードラビュー〜</h1>

      <p>エンジニアリング学習における教材レビューアプリです。</p>
      <p>書籍だったり、ウェブサイトだったり、はたまたyoutubeだったり、<br>
      何か、学習で詰まった時に、あなたが助けられた教材をシェアしてください。</p>
      <p>初学者にはこのアプリが教科書のような存在になってくれたら。</p>
      <p>現役エンジニアの方には、実務のお供に使っているツールを紹介していただくことで、<br>
      就職したばかりの駆け出しエンジニアの方の力になることでしょう。</p>

    </div>
  </article>
</div>
