.mypage-area {
  background-color: #000;
  color: #fff;
  padding: 20px;
  width: 100%;
  margin: 1%;
  min-width: 100%;
}
h1 {
  font-size: 30px;
  color: #ff00ff;
}
.edit-user {
  font-size: 30px;
  color: #ff00ff;
}
.edit-area {
  background-color: #000;
  color: #fff;
  padding: 20px;
  width: 100%;
  margin: 1%;
  min-width: 100%;
}
.signup-area {
  background-color: #000;
  color: #fff;
  padding: 20px;
  width: 100%;
  margin: 1%;
  min-width: 100%;
}
.signup-user {
  font-size: 30px;
  color: #ff00ff;
}
.login-area {
  background-color: #000;
  color: #fff;
  padding: 20px;
  width: 100%;
  margin: 1%;
  min-width: 100%;
}
.login-user {
  font-size: 30px;
  color: #ff00ff;
}
p.box {
  border-bottom: 2px solid #c0c0c0;
}
.confirm-area {
  background-color: #fff;
}
