<div class="confirm-area">
  <h1>本当に退会しても良いですか？</h1>

  <%= link_to 'Yes', user_registration_path, method: :delete %>
  <%= link_to 'No', reviews_path(cancel_quit: true) %>

  <p>CodeLovew事務局</p>
</div>